name: Shader Release Sync

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Asset from Release
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          version: ${{ github.event.release.id }}
          file: "§dValentine Shader.zip" # The name of the zip you manually upload
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to CurseForge
        uses: itsmeow/curseforge-upload@v3
        with:
          token: ${{ secrets.CURSEFORGE_TOKEN }}
          project_id: '1462167' # <-- CHANGE THIS to your Project ID
          game_endpoint: 'minecraft'
          file_path: '§dValentine Shader.zip'
          display_name: "${{ github.event.release.name }}"
          changelog: ${{ github.event.release.body }}
          release_type: 'release'
          # These IDs tell CF to check the boxes for 1.20.1, 1.21, Iris, and Optifine
          # 9990 = Iris, 9989 = Optifine
          game_versions: '1.21.8,1.21.7,1.21.6,1.21.5,1.21.4,1.21.3,1.21.2,1.21.1,1.21,1.20.6,1.20.5,1.20.4,1.20.3,1.20.2,1.20.1,1.20,1.19.4,1.19.3,1.19.2,1.19.1,1.19,1.18.2,1.18.1,1.18,1.17.1,1.17,1.16.5,1.16.4,1.16.3,1.16.2,1.16.1,1.16,1.15.2,1.15.1,1.15,1.14.4,1.14.3,1.14.2,1.14.1,1.14,1.13.2,1.13.1,1.13,1.12.2,1.12.1,1.12,1.11.2,1.11.1,1.11,1.10.2,1.10.1,1.10,1.9.4,1.9.3,1.9.2,1.9.1,1.9,1.8.9,9990,9989'

      - name: Upload to Modrinth (Shader)
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRINTH_TOKEN }}
          project: 'JX18zgB7'
          version: ${{ github.event.release.tag_name }}
          name: "${{ github.event.release.name }}"
          # FOR SHADERS: Use 'iris' or 'optifine' instead of 'fabric'
          loaders: |
            iris
            optifine
          game-versions: |
            1.21.8
            1.21.7
            1.21.6
            1.21.5
            1.21.4
            1.21.3
            1.21.2
            1.21.1
            1.21
            1.20.6
            1.20.5
            1.20.4
            1.20.3
            1.20.2
            1.20.1
            1.20
            1.19.4
            1.19.3
            1.19.2
            1.19.1
            1.19
            1.18.2
            1.18.1
            1.18
            1.17.1
            1.17
            1.16.5
            1.16.4
            1.16.3
            1.16.2
            1.16.1
            1.16
            1.15.2
            1.15.1
            1.15
            1.14.4
            1.14.3
            1.14.2
            1.14.1
            1.14
            1.13.2
            1.13.1
            1.13
            1.12.2
            1.12.1
            1.12
            1.11.2
            1.11.1
            1.11
            1.10.2
            1.10.1
            1.10
            1.9.4
            1.9.3
            1.9.2
            1.9.1
            1.9
            1.8.9
          files: '§dValentine Shader.zip'
          changelog: ${{ github.event.release.body }}
